node_modules/
dist/
build/
coverage/
.env
.env.*
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

sequelize-meta.json
sequelize-cli.json
*.sqlite
*.db
dump.sql


.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

*.test.ts
*.spec.ts
.tmp/
.cache/
out/

.docker/
docker-compose.override.yml
